header {
  background-image: url("../img/m-h-night.jpg");
  height: 550px;
  border-bottom-right-radius: 45%;
  background-size: cover;
  background-position: center; }
  header div.header-wrap {
    margin-left: 145px; }
    header div.header-wrap .landing-logo {
      display: flex;
      align-items: center;
      color: white; }
      header div.header-wrap .landing-logo p {
        padding: 30px 0 0 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Hind", sans-serif;
        font-size: 25px;
        margin-top: 0;
        font-weight: bold;
        line-height: 18px; }
        header div.header-wrap .landing-logo p span {
          font-size: 8px; }
    header div.header-wrap .header_heading {
      margin-top: 30px;
      margin-bottom: 0px;
      clear: both;
      display: block;
      width: 472px;
      font: bold 60px "Source Sans Pro", sans-serif;
      color: white; }
    header div.header-wrap .header_text {
      margin-left: -30px;
      white-space: pre;
      font-family: "Hind", sans-serif;
      font-size: 13px;
      color: white; }
    header div.header-wrap button {
      display: block;
      background-color: #e3ac00;
      color: white;
      width: 120px;
      height: 40px;
      font-family: "Hind", sans-serif;
      text-align: center;
      border-radius: 4px;
      border: none;
      font-weight: bold;
      margin-left: 10px;
      float: left; }
    header div.header-wrap a {
      font-family: "Hind", sans-serif;
      color: white;
      margin-left: 100px; }

body {
  margin: 0 auto;
  background-color: #21232e; }

main {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  main .section_text {
    text-align: center;
    font-size: 45px;
    font-family: "Source Sans Pro", sans-serif;
    color: white; }
  main .section_card_wrap {
    max-width: 70%;
    text-align: center;
    margin-left: 15%; }
    main .section_card_wrap .section_card {
      display: flex;
      background-color: #3b3f50;
      margin-bottom: 25px;
      border-radius: 8px; }
      main .section_card_wrap .section_card .section_card_img {
        width: 69%;
        border-radius: 5px;
        float: left;
        margin: 15px; }
      main .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        color: white; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 20px;
          font-weight: bold; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          width: 70%;
          text-align: justify;
          font-family: "Fresca", sans-serif;
          color: #ccd9e2; }
        main .section_card_wrap .section_card .section_card_right_container a {
          color: white; }
  main .section_banner {
    position: relative;
    top: 70px;
    z-index: 1;
    width: 80%;
    height: 130px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #e0a604, #922c53);
    border-radius: 5px; }
    main .section_banner .section_banner_text_wrap {
      width: 50%;
      margin-left: 200px; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
        color: white;
        font-weight: bold; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        color: white; }
    main .section_banner .section_banner_button {
      display: block;
      background-color: #e3ac00;
      color: white;
      width: 120px;
      height: 40px;
      font-family: "Hind", sans-serif;
      text-align: center;
      border-radius: 4px;
      border: none;
      font-weight: bold;
      position: relative;
      bottom: 55px;
      z-index: 1;
      margin-left: 70%; }

footer {
  background-color: #3b3f50;
  height: 242px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-family: "Hind", sans-serif; }
  footer div.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%; }
    footer div.footer-wrap .footer_text {
      font-size: small;
      max-width: 290px; }
    footer div.footer-wrap .footer_logo {
      display: flex;
      align-items: center; }
      footer div.footer-wrap .footer_logo p {
        padding: 30px 0 0 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Hind", sans-serif;
        font-size: 25px;
        margin-top: 0;
        font-weight: bold;
        line-height: 18px; }
        footer div.footer-wrap .footer_logo p span {
          font-size: 8px; }
