
$font: 'Hind', sans-serif;
$fontCard: 'Hind', sans-serif;
$fontHead: 'Source Sans Pro', sans-serif;
$textColor: white;
$background: #21232e;
$StartGradient:#679709;
$EndGradient:#2f5dcf;
$bckImage: url('../img/m-h-day.jpg');
$colorLogo:#2c2f3c;
$bckColor:white;
$headingColor:#2c2f3c;
$buttonColor:#699900;
$headerColor:#2c2f4c;
$bannerHeading:#2c2f3c;
$sectionText:#2c2f3c;