$bckImage: url('../img/m-h-night.jpg');
$headingColor:white;
$colorLogo:white;
$bckColor:#21232e;
$background: #3b3f50;
$StartGradient:#e0a604;
$EndGradient:#922c53;
$buttonColor:#e3ac00;
$headerColor: white;
$fontCard:'Fresca', sans-serif;
$font: 'Hind', sans-serif;
$fontHead: 'Source Sans Pro', sans-serif;
$textColor: white;
$bannerHeading:white;
$sectionText:white;